[Unit]
Description		=in4__oracle10g

## DEPS ## 
 #Conflicts=, # Wants=,  # Before=, # PartOf=, #OnFailure=,  #PropagatesReloadTo=, ReloadPropagatedFrom=
 Requires		= var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service 
 After			= var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service 
##


## MISC ## 
 #StopWhenUnneeded	= true
 #ConditionPathExists	=
##

[Service]
 
## TYPE ##
    Type=simple
    #RemainAfterExit=yes
##

## EXECS ##
ExecStartPre        = /bin/sh /media/sysdata/in4/cho/cho_v4/services--c/database--o/rdbms--f/oracle10g--g/init/memset_pfile.sh
ExecStart		= /bin/sh /media/sysdata/in4/cho/cho_v4/services--c/database--o/rdbms--f/oracle10g--g/init/run.sh start
ExecStartPost    = /bin/sh -x /media/sysdata/in4/cho/cho_v4/services--c/database--o/rdbms--f/oracle10g--g/init/run.sh simplecheck
 ExecStop		= /bin/sh /media/sysdata/in4/cho/cho_v4/services--c/database--o/rdbms--f/oracle10g--g/init/run.sh stop
 ExecReload		= /bin/kill -HUP $MAINPID

 #loging -  "instance":"%I"
##
 
## PERMISSIONS ##
 #WorkingDirectory	= /media/storage
 User			= oracle
 Group			= oinstall

 SupplementaryGroups = sysdata
 #UMask			= 
##

## MISC ##
 Restart			= always
 RestartSec		= 300
 #PrivateTmp		= true
 #TimeoutSec		= 300 # larger for DB/huge RAM ps
 #EnvironmentFile	= -/
##

## SYSLOG ##
 SyslogIdentifier	=in4__oracle10g
 SyslogFacility	= local7
 SyslogLevel		= info
 #SyslogLevelPrefix	= false #Can be disabled for ...
##
 

## SECURITY ##
 #ProtectSystem	= full
 #ProtectHome		= true
 #AppArmorProfile	= 
 #PAMName		= 
 #SecureBits		= 
 #Capabilities		= 
 #ReadWriteDirectories=, ReadOnlyDirectories=, InaccessibleDirectories=
##
 

## LIMITS ##
 Nice				= 0
 OOMScoreAdjust	        = -1000
 IOSchedulingClass 	= best-effort
 IOSchedulingPriority   = 1
 LimitMEMLOCK=infinity 
 LimitNOFILE=65535
 #MemoryLimit		= 
 #BlockIOReadBandwidth = 
 #BlockIOWriteBandwidth = 
## 

 
[Install]
WantedBy			= multi-user.target
#RequiredBy=, #Alias = 

## REV5 - WANTEDBY
#WantedBy			=in4.target
##
