########    #######    ########    #######    ########    ########
##     / / / /    License    \ \ \ \ 
##    Copyleft culture, Copyright (C) is prohibited here
##    This work is licensed under a CC BY-SA 4.0
##    Creative Commons Attribution-ShareAlike 4.0 License
##    Refer to the http://creativecommons.org/licenses/by-sa/4.0/
########    #######    ########    #######    ########    ########
##    / / / /    Code Climate    \ \ \ \ 
##    Language = DSL, systemd
##    Indent = space;    4 chars;
########    #######    ########    #######    ########    ########

[Unit]
    Description = in4__class--c--order--o--family--f--genus--g--main--s

## DEPS ## 
    Requires = var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service 
    After = var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service 
##

## DEPS - AFTER IN4.TARGET## 
    Requires = in4.target
    After = in4.target
##

[Timer]
    Unit = in4__class--c--order--o--family--f--genus--g--main--s

### TIMERS
    #OnBootSec = 
    #OnUnitActiveSec = 
    #OnCalendar = 00:02
    OnCalendar = *:*:35
### 

### MISC
    #AccuracySec = 5s
    #RandomizedDelaySec = 
###

[Install]
    Alias = in4__genus--g
    WantedBy = multi-user.target
    #RequiredBy = 

## IN4 - WANTEDBY
    #WantedBy = in4.target
##
