[Unit]
Description		= In4 (c)ONE3 instance %i

## DEPS ## 
 #Conflicts=, # Wants=,  # Before=, # PartOf=, #OnFailure=,  #PropagatesReloadTo=, ReloadPropagatedFrom=
 After			= network.target 

## REV5 DEPS - OS ##
 #Wants			= rev5.service rev5_rsyslog_i@client.service rev5.timer rev5_sssd.service rev5_atop.service rev5_bareos-os.service rev5_monitoring-os.service 
 #rev5_SuSEfirewall2_init_i@simple rev5_SuSEfirewall2_i@simple

##

## LOGITORING DEPS ##
 #Requires 			= monitoring-rev5_coneapp3.timer logging-rev5_coneapp3.timer
 #Before   			= monitoring-rev5_coneapp3.timer logging-rev5_coneapp3.timer
##

## MISC ## 
 #StopWhenUnneeded	= true
 #ConditionPathExists	=
##

[Service]
 
## TYPE ##
 Type			= simple
##

## EXECS ##
 ExecStart		= /bin/bash -c 'sh start.run'

 
 #ExecStartPre		= 
 ExecStartPre		= /bin/sh /media/sysdata/in4/cho/cho_v3/ontology/logitoring/syslog-wrappers/syslog.sh cee 'cee@: {"status":"unknown", "action":"start", "subaction":"pre", "type":"systemd", "unit":"%N", "prefix":"%P", "rundir":"%t", "user":"%u", "uid":"%U", "host":"%H", "machid":"%m", "kernel":"%v"}'
 
 #ExecStartPost	= 
 ExecStartPost		= /bin/sh /media/sysdata/in4/cho/cho_v3/ontology/logitoring/syslog-wrappers/syslog.sh cee 'cee@: {"status":"started", "action":"start", "subaction":"post", "type":"systemd", "unit":"%N", "prefix":"%P", "rundir":"%t", "user":"%u", "uid":"%U", "host":"%H", "machid":"%m", "kernel":"%v"}'
 
 #ExecStopPost	= 
 ExecStopPost		= /bin/sh /media/sysdata/in4/cho/cho_v3/ontology/logitoring/syslog-wrappers/syslog.sh cee 'cee@: {"status":"stopped", "action":"stop", "subaction":"post", "type":"systemd", "unit":"%N", "prefix":"%P", "rundir":"%t", "user":"%u", "uid":"%U", "host":"%H", "machid":"%m", "kernel":"%v"}'
 
 #loging -  "instance":"%i"
##
 
## PERMISSIONS ##
 WorkingDirectory	= /web/_c3/%i
 #UMask			= 
##

## MISC ##
 Restart			= always
 PrivateTmp		= true
 TimeoutSec		= 60
 #EnvironmentFile	= -/
##

## SYSLOG ##
 SyslogIdentifier	= coneapp3_
 SyslogFacility		= local7
 SyslogLevel		= info
 StandardOutput=syslog
 #SyslogLevelPrefix	= false #Can be disabled for ...
##
 

## SECURITY ##
 ProtectSystem		= full
 ProtectHome		= true
 #AppArmorProfile	= 
 #PAMName		= 
 #SecureBits		= 
 #Capabilities		= 
 #ReadWriteDirectories=, ReadOnlyDirectories=, InaccessibleDirectories=
##
 

## LIMITS ##
 Nice				= 0
 OOMScoreAdjust	= -1000
 IOSchedulingClass 	= best-effort
 IOSchedulingPriority= 1
 LimitNOFILE=65535
 LimitMEMLOCK=infinity
 #MemoryLimit		= 
 #BlockIOReadBandwidth = 
 #BlockIOWriteBandwidth = 
## 

 
[Install]
WantedBy    = default.target
Alias				= c3
#RequiredBy=, #Alias = 
