
[Unit]
Description=sysdata disk mount
Before=local-fs.target -.mount
Requires=systemd-fsck@dev-disk-by\x2dlabel-sysdata.service
After=systemd-fsck@dev-disk-by\x2dlabel-sysdata.service

[Mount]
What=/dev/disk/by-label/sysdata
Where=/media/sysdata
Type=ext4
Options=noatime,acl,user_xattr
