[Unit]
Description=List of vm-snapshot.%I
Requires=var-run.mount nss-lookup.target network.target remote-fs.target time-sync.target
After=var-run.mount nss-lookup.target network.target remote-fs.target time-sync.target
# Wants=
# Before=
# Conflicts=

[Service]
Type=oneshot
User=root
Group=root
StandardOutput=syslog
ExecStart=/etc/xen/scripts/vm-snapshots/vm-snapshot.%I "["infrastructure","manual"]"

[Install]
WantedBy=multi-user.target

