standby_mode            = 'on'                                                                                                                                                      
primary_conninfo        = 'host={{IP}} port=5432 user=postgres'                                                                                                                     
trigger_file            = '/storage/database/postgres/failover.trigger'                                                                                                             
recovery_target_timeline = 'lastest'