[Unit]
Description		= rev5__services--c--virtualization--o--vm--f--xen--g--dom0_init--s

## DEPS ## 
 #Conflicts=, # Wants=,  # Before=, # PartOf=, #OnFailure=,  #PropagatesReloadTo=, ReloadPropagatedFrom=
 Requires		= var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service 
 After			= var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service 
After			= rev5__services--c--virtualization--o--network--f--openvswitch--g--main--s.service
Requires		= rev5__services--c--virtualization--o--network--f--openvswitch--g--main--s.service
##

## DEPS - AFTER REV5.TARGET## 
 #Requires		= rev5.target
 #After			= rev5.target
##


## MISC ## 
 #StopWhenUnneeded	= true
 #ConditionPathExists	=
##

[Service]
 
## TYPE ##
 Type			= oneshot
##

## EXECS ##
 ExecStart		= /bin/sh /etc/xen/scripts/dom0_init.sh

 #ExecStartPre	= 
 ExecStartPre		= /bin/sh /media/sysdata/rev5/techpool/ontology/logitoring/syslog-wrappers/syslog.sh cee 'cee@: {"status":"unknown", "action":"start", "subaction":"pre", "type":"systemd", "unit":"%N", "prefix":"%P", "rundir":"%t", "user":"%u", "uid":"%U", "host":"%H", "machid":"%m", "kernel":"%v"}'
 
 #ExecStartPost	= 
 ExecStartPost	= /bin/sh /media/sysdata/rev5/techpool/ontology/logitoring/syslog-wrappers/syslog.sh cee 'cee@: {"status":"started", "action":"start", "subaction":"post", "type":"systemd", "unit":"%N", "prefix":"%P", "rundir":"%t", "user":"%u", "uid":"%U", "host":"%H", "machid":"%m", "kernel":"%v"}'
 
 #ExecStopPost	= 
 ExecStopPost	= /bin/sh /media/sysdata/rev5/techpool/ontology/logitoring/syslog-wrappers/syslog.sh cee 'cee@: {"status":"stopped", "action":"stop", "subaction":"post", "type":"systemd", "unit":"%N", "prefix":"%P", "rundir":"%t", "user":"%u", "uid":"%U", "host":"%H", "machid":"%m", "kernel":"%v"}'
 
 #loging -  "instance":"%I"
##
 
## PERMISSIONS ##
 ###WorkingDirectory	= 
 User			= root
 Group			= root
 SupplementaryGroups = sysdata
 #UMask			= 
##

## MISC ##
 ####Restart			= always
 ####RestartSec		= 30
 PrivateTmp		= true
 #TimeoutSec		= 300 # larger for DB/huge RAM ps
 #EnvironmentFile	= -/
##

## SYSLOG ##
 SyslogIdentifier	= rev5__services--c--virtualization--o--vm--f--xen--g--dom0_init--s_
 SyslogFacility	= local7
 SyslogLevel		= info
 #SyslogLevelPrefix	= false #Can be disabled for ...
##
 

## SECURITY ##
 ProtectSystem	= full
 ProtectHome		= true
 #AppArmorProfile	= 
 #PAMName		= 
 #SecureBits		= 
 #Capabilities		= 
 #ReadWriteDirectories=, ReadOnlyDirectories=, InaccessibleDirectories=
##
 

## LIMITS ##
 Nice				= 0
 OOMScoreAdjust	        = -1000
 IOSchedulingClass 	= best-effort
 IOSchedulingPriority   = 1
 LimitNOFILE                 = 65535
 #LimitMEMLOCK=infinity #For DB's
 #MemoryLimit		= 
 #BlockIOReadBandwidth = 
 #BlockIOWriteBandwidth = 
## 

 
[Install]
Alias = rev5__xen--dom0_init
WantedBy			= multi-user.target
#RequiredBy=

## REV5 - WANTEDBY
#WantedBy			= rev5.target
##