[Unit]
Description=storage disk mount
Before=local-fs.target
Requires=systemd-fsck@dev-disk-by\x2dlabel-storage.service
After=systemd-fsck@dev-disk-by\x2dlabel-storage.service

[Mount]
What=/dev/disk/by-label/storage
Where=/media/storage
Type=btrfs
Options=rw,noatime,acl,nodatacow,autodefrag,recovery

#[Install]
#WantedBy = multi-user.target
