[Unit]
Description=Runs VM snapshots
Requires=var-run.mount nss-lookup.target network.target remote-fs.target time-sync.target
After=var-run.mount nss-lookup.target network.target remote-fs.target time-sync.target
# Wants=
# Before=
# Conflicts=

[Install]
WantedBy=multi-user.target

[Timer]
#OnBootSec=15min
OnUnitActiveSec=3600
Unit=vm-snapshot.service

