[Unit]
Description		= Rev5 sshd

## DEPS ## 
 #Conflicts=, # Wants=,  # Before=, # PartOf=, #OnFailure=,  #PropagatesReloadTo=, ReloadPropagatedFrom=
 Requires			= var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service
 After			= var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service 

##

## REV5 DEPS - OS ##
 #Wants			= rev5.service rev5_rsyslog_i@client.service rev5.timer rev5_sssd.service rev5_atop.service rev5_bareos-os.service rev5_monitoring-os.service
 #rev5_SuSEfirewall2_init_i@simple rev5_SuSEfirewall2_i@simple
##

## LOGITORING DEPS ##
 #Requires 			= monitoring-rev5_sshd.timer logging-rev5_sshd.timer
 #Before   			= monitoring-rev5_sshd.timer logging-rev5_sshd.timer
##

## MISC ## 
 #StopWhenUnneeded	= true
 #ConditionPathExists	=
##

[Service]
 
## EXECS ##
 ExecStart		= /usr/sbin/sshd -D -f /media/sysdata/rev5/techpool/ontology/network/sshd/sshd_config $SSHD_OPTS
 ExecReload		= /bin/kill -HUP $MAINPID

 ExecStartPre		= /usr/sbin/sshd-gen-keys-start
 ExecStartPre		= /bin/sh /media/sysdata/rev5/techpool/ontology/logitoring/syslog-wrappers/syslog.sh cee 'cee@: {"status":"unknown", "action":"start", "subaction":"pre", "type":"systemd", "unit":"%N", "prefix":"%P", "rundir":"%t", "user":"%u", "uid":"%U", "host":"%H", "machid":"%m", "kernel":"%v"}'
 
 #ExecStartPost	= 
 ExecStartPost		= /bin/sh /media/sysdata/rev5/techpool/ontology/logitoring/syslog-wrappers/syslog.sh cee 'cee@: {"status":"started", "action":"start", "subaction":"post", "type":"systemd", "unit":"%N", "prefix":"%P", "rundir":"%t", "user":"%u", "uid":"%U", "host":"%H", "machid":"%m", "kernel":"%v"}'
 
 #ExecStopPost	= 
 ExecStopPost		= /bin/sh /media/sysdata/rev5/techpool/ontology/logitoring/syslog-wrappers/syslog.sh cee 'cee@: {"status":"stopped", "action":"stop", "subaction":"post", "type":"systemd", "unit":"%N", "prefix":"%P", "rundir":"%t", "user":"%u", "uid":"%U", "host":"%H", "machid":"%m", "kernel":"%v"}'
 
 #loging -  "instance":"%I"
##
 
## PERMISSIONS ##
 #WorkingDirectory	= 
 User			= root
 Group			= root
 SupplementaryGroups = sysapp
 #UMask			= 
##

## MISC ##
 Restart			= always
 #PrivateTmp		= true
 #TimeoutSec		= 300 # larger for DB/huge RAM ps
 EnvironmentFile	= -/etc/sysconfig/ssh
 KillMode			= process
##

## SYSLOG ##
 SyslogIdentifier	= sshd_
 SyslogFacility		= local7
 SyslogLevel		= info
 #SyslogLevelPrefix	= false #Can be disabled for ...
##
 

## SECURITY ##
 ProtectSystem		= full
 ProtectHome		= true
 #AppArmorProfile	= 
 #PAMName		= 
 #SecureBits		= 
 #Capabilities		= 
 #ReadWriteDirectories=, ReadOnlyDirectories=, InaccessibleDirectories=
##
 

## LIMITS ##
 Nice				= 0
 OOMScoreAdjust	= -1000
 IOSchedulingClass 	= best-effort
 IOSchedulingPriority= 1
 LimitNOFILE=65535
 #LimitMEMLOCK=infinity #For DB's
 #MemoryLimit		= 
 #BlockIOReadBandwidth = 
 #BlockIOWriteBandwidth = 
## 

 
[Install]
WantedBy			= multi-user.target
#RequiredBy=, #Alias = 
