[Unit]
Description=Timer for in4__snapshot
Requires=var-run.mount nss-lookup.target network.target remote-fs.target
After=var-run.mount nss-lookup.target network.target remote-fs.target

[Install]
WantedBy=multi-user.target

[Timer]
OnUnitActiveSec=1h
AccuracySec=10m
Unit=in4__snapshot-app.service 
