[Unit]
Description=Runs vm-snapshot.%I
Requires=var-run.mount nss-lookup.target network.target remote-fs.target time-sync.target
After=var-run.mount nss-lookup.target network.target remote-fs.target time-sync.target
# Wants=
# Before=
# Conflicts=

[Install]
WantedBy=multi-user.target

[Timer]
#OnBootSec=15min
OnUnitActiveSec=%I
Unit=vm-snapshot.%I.service

