[Unit]
Description		= In4 elasticsearch
Documentation	= http://www.elasticsearch.org

## DEPS ## 
 #Conflicts=, # Wants=,  # Before=, # PartOf=, #OnFailure=,  #PropagatesReloadTo=, ReloadPropagatedFrom=
 Requires			= var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service 
 After			= var-run.mount nss-lookup.target network.target time-sync.target systemd-modules-load.service 
##

## REV5 DEPS - OS ##
 #Wants			= rev5.service rev5_rsyslog_i@client.service rev5.timer rev5_sssd.service rev5_atop.service rev5_bareos-os.service rev5_monitoring-os.service
 #rev5_SuSEfirewall2_init_i@simple rev5_SuSEfirewall2_i@simple
##

## LOGITORING DEPS ##
 #Requires 			= monitoring-rev5_elasticsearch.timer logging-rev5_elasticsearch.timer
 #Before   			= monitoring-rev5_elasticsearch.timer logging-rev5_elasticsearch.timer
##

## MISC ## 
 #StopWhenUnneeded	= true
 #ConditionPathExists	=
##

[Service]
 
## TYPE ##
 Type			= forking
 PIDFile			= /var/run/elasticsearch/elasticsearch.pid
##

## EXECS ##
  #Environment=JAVA_HOME=/usr/lib64/jvm/jre
ExecStart		= /usr/share/elasticsearch/bin/elasticsearch -p /var/run/elasticsearch/elasticsearch.pid -d -Des.max-open-files=true -Des.bootstrap.mlockall=true -Des.cluster.name=${ES_CLUSTER_NAME} -Des.node.name=${ES_NODE_NAME} -Des.http.host=${ES_HTTP_HOST} -Des.default.path.home=${ES_HOME} -Des.default.path.logs=${LOG_DIR} -Des.default.path.data=${DATA_DIR} -Des.default.path.work=${WORK_DIR} -Des.default.path.conf=${CONF_DIR} -Des.default.path.plugins=${ES_PLUGIN_DIR}
 ExecReload		= /bin/kill -HUP $MAINPID
 
 #loging -  "instance":"%I"
##
 
## PERMISSIONS ##
 WorkingDirectory	= /media/storage/database/elasticsearch
 User			= elasticsearch
 Group			= elasticsearch
 SupplementaryGroups = sysdata
 #UMask			= 
##

## MISC ##
 Restart			= always
 #PrivateTmp		= true
 TimeoutSec		= 300
 EnvironmentFile	= /media/sysdata/rev5/techpool/ontology/logitoring/elasticsearch/init_conf/es.startconf
##

## SYSLOG ##
 SyslogIdentifier	= elasticsearch_
 SyslogFacility		= local7
 SyslogLevel		= info
 #SyslogLevelPrefix	= false #Can be disabled for ...
##
 

## SECURITY ##
 ProtectSystem		= full
 ProtectHome		= true
 #AppArmorProfile	= 
 #PAMName		= 
 #SecureBits		= 
 #Capabilities		= 
 #ReadWriteDirectories=, ReadOnlyDirectories=, InaccessibleDirectories=
##
 

## LIMITS ##
 Nice				= 0
 OOMScoreAdjust	= -1000
 IOSchedulingClass 	= best-effort
 IOSchedulingPriority= 1
 LimitNOFILE=65535
 LimitMEMLOCK=infinity
 #MemoryLimit		= 
 #BlockIOReadBandwidth = 
 #BlockIOWriteBandwidth = 
## 

 
[Install]
WantedBy			= multi-user.target
#RequiredBy=, #Alias = 
