[Unit]
SourcePath=/etc/fstab
Documentation=man:fstab(5) man:systemd-fstab-generator(8)
Before=local-fs.target
RequiresOverridable=systemd-fsck@dev-disk-by\x2dlabel-logs.service
After=systemd-fsck@dev-disk-by\x2dlabel-logs.service

[Mount]
What=/dev/disk/by-label/logs
Where=/media/logs
Type=ext4
Options=noatime,acl,user_xattr
