[Unit]
SourcePath=/etc/fstab
Documentation=man:fstab(5) man:systemd-fstab-generator(8)
Before=local-fs.target
RequiresOverridable=systemd-fsck@dev-disk-by\x2dlabel-storage.service
After=systemd-fsck@dev-disk-by\x2dlabel-storage.service

[Mount]
What=/dev/disk/by-label/storage
Where=/media/storage
Type=ocfs2
Options=inode64,localalloc=2048,rw,noatime,acl
