[Unit]
Description		= wtf
After=local-fs.target systemd-sysusers.service
Before			= network.target
 
[Service]
 Type			= oneshot
 ExecStart		= /bin/sh /media/sysdata/in4/cho/cho_v5/in4_landscape/internals--c/management--o/rev5--f/core/dsl/main--s/simple/files/hardcoded/init/99.wtf.sh
 
[Install]
WantedBy			= multi-user.target

