[Unit]
Description		= in4__wtf
After=local-fs.target systemd-sysusers.service
Before			= network.target
 
[Service]
 Type			= oneshot
  Environment       = Task=run
 Environment       = in4LandscapeFQN=internals--c--management--o--bash_sugar--f--kitchen--g--main--s
 Environment       = RunPath=3_recipe/runners/wtf
 Environment       = RunName=99.wtf.sh
 ExecStart		= /bin/sh /media/sysdata/in4/cho/in4.sh
 User			= root
 Group			= root
SyslogIdentifier	= in4__wtf
 SyslogFacility		= local7
 SyslogLevel		= info
[Install]
WantedBy			= multi-user.target

