########    #######    ########    #######    ########    ########
##     / / / /    License    \ \ \ \ 
##    Copyleft culture, Copyright (C) is prohibited here
##    This work is licensed under a CC BY-SA 4.0
##    Creative Commons Attribution-ShareAlike 4.0 License
##    Refer to the http://creativecommons.org/licenses/by-sa/4.0/
########    #######    ########    #######    ########    ########
##    / / / /    Code Climate    \ \ \ \ 
##    Language = DSL, systemd
##    Indent = space;    4 chars;
########    #######    ########    #######    ########    ########

[Unit]
    Description = Diskmount for storage resource
    Requires = systemd-fsck@dev-disk-by\x2dlabel-storage.service

[Mount]
    What = /dev/drbd/by-res/storage/0
    Where = /media/storage
    Options = rw,noatime,acl,usrquota,grpquota,user_xattr
